<div class="row full-width">
    <div class="share-top">
        <div class="left">
            <a href="https://www.facebook.com/Sur-le-Chemin-de-l%C3%89cole-1530635077255083">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/RodolpheGrivet">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        <div class="right">
            <a href="/share">{{ home.share }}</a>
        </div>
    </div>
</div>
<section id="home">
    <div class="childrens">  
        <div class="children children1"></div>
        <div class="children children2"></div>
        <div class="children children3"></div>
    </div>
    <article>
        <hr />
        <div class="content">
            <h1>{{ home.title.part1 }}<br />{{ home.title.part2 }}</h1>
            <p>{{ home.content }}</p>
            <p>{{ home.content_sub }}</p>
            <p class="last">{{ home.content_sub_sub }}</p>
            <div class="content-link">
                <a href="/experience" class="btn-starter">{{ home.button }}</a>
            </div>
        </div>
        <footer>
           <p>HÉTIC - Troisième année P2018</p>
        </footer>
    </article>
</section>