<div class="row full-width">
    <div class="share-top">
        <div class="left">
            <a href="https://www.facebook.com/Sur-le-Chemin-de-l%C3%89cole-1530635077255083">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/RodolpheeGrivet">
                <i class="fa fa-twitter"></i>
            </a>          
        </div>
    </div>
</div>
<div class="clear"></div>
<section id="share">
	<div class="content-top">
        <div class="bareH"></div>
		<div class="row fullWidth">
            <hr>
            <h1 class="large-10 large-centered columns text-header">
            {{ share.title.part1 }}</br>{{ share.title.part2 }}</h1>      
        </div>
        <div class="row fullWidth">
            <p class="large-10 large-centered columns intro-header">
                {{ share.content }}
            </p>      
        </div>
        <div class="row fullWidth">
            <div class="large-10 large-centered columns">
                <div class="buttonLeft large-6 columns">
                    <a href="/">
                        {{ share.buttonLeft }}
                    </a>
                </div>
                <div class="buttonRight large-6 columns">
                    <a href="https://twitter.com/home?status=Mes%20trajets%20peuvent%20devenir%20de%20vrais%20%23voyages%20!%20%23SurLeCheminDeLecole" target="_blank">
                        {{ share.buttonRight }}
                    </a>
                </div>
            </div>
        </div>
	</div>
    <div class="content-bottom">
        <div class="row fullWidth">
            <div id="tweet-wrapper-1" class="twitter-content-txt large-6 columns">
                <div class="right"><i class="fa-2x fa fa-twitter"></i></div>
                <div class="innerContent large-10 large-centered columns">
                    <p id="tweet-1">Problème de connexion à l'api twitter</p>
                    <p id="date-tweet-1" class="date text-center"></p>
                </div>
            </div>
            <div id="tweet-wrapper-2" class="twitter-content-img large-6 columns">
                <div class="right"><i class="fa-2x fa fa-twitter"></i></div>
                <div class="over-tweet-img">
                    <p id="tweet-2">Problème de connexion à l'api twitter</p>
                    <p id="date-tweet-2" class="date text-center"></p>
                    <div class="hover-img"></div>
                </div>
            </div>
        </div>
        <div class="row fullWidth">
            <div id="tweet-wrapper-3" class="twitter-content-img large-6 columns">
                <div class="right"><i class="fa-2x fa fa-twitter"></i></div>
                <div class="over-tweet-img">
                    <p id="tweet-3">Problème de connexion à l'api twitter</p>
                    <p id="date-tweet-3" class="date text-center"></p>
                    <div class="hover-img"></div>
                </div>
            </div>
            <div id="tweet-wrapper-4" class="twitter-content-txt large-6 columns">
                <div class="right"><i class="fa-2x fa fa-twitter"></i></div>
                <div class="innerContent large-10 large-centered columns">
                    <p id="tweet-4">Problème de connexion à l'api twitter</p>
                    <p id="date-tweet-4" class="date text-center"></p>
                </div>
            </div>
        </div>
    </div>
</section>